.input{
    z-index: 0;
    position: inherit;
    color: #232323;
}

input{
    border: 2px solid lightblue;
  border-radius: 10px;
  padding: 10px;
}

button{
    background-color: lightblue;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 5px;
}