.header{
    background-color: lightblue;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #799ba1;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.logo img{
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
}

.header_link{
    font-size: large;
}

a{
    text-decoration: none;
    color: #799ba1;
    font-weight: 700;
}

a:hover{
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}