.calendar_item{
    width: 5rem;
    height: 5rem;
   
    border: 1px solid #dee2e6;
    margin: 0;
    display: inline-block;

}

.item_date_selected{
    border-radius: 100%;
    background-color: red;
}